# Data Cleaning

#### Imports

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import progressbar
from time import sleep
from datetime import datetime
import os
import pandas as pd
import re
import enchant

#### Polluted Dataset

In [ ]:
data = pd.read_csv('polluted_data.csv')
data = data[['Datetime','Text']]

In [ ]:
data

,Datetime,Text
0,2022-07-09 23:59:54+00:00,Ethereum (ETH) Fondo finalmente en? Analista ...
1,2022-07-09 23:59:39+00:00,Bought this cute girl from @ItsukiNFT Check th...
2,2022-07-09 23:59:12+00:00,#Bitcoin Last Price $21588 #BTC üöÄ\nDaily Indic...
3,2022-07-09 23:59:04+00:00,@hiharveen @WatcherGuru Fact is it doesn‚Äôt mat...
4,2022-07-09 23:58:12+00:00,#Bitcoin Last Price $21597 #BTC üöÄ\nDaily Indic...
...,...,...
200000,2021-08-24 19:07:09+00:00,#Ethereum GOD MODE üî•üêªüî´üêªüî´\n\n11.27 $ETH has bee...
200001,2021-08-24 19:06:39+00:00,Getting closer now!\n\nWhat #Ethereum chain to...
200002,2021-08-24 19:05:23+00:00,ü§ìü§îüëç #knownews #$BTC #bitcoin #bnb #CryptoCurre...
200003,2021-08-24 19:04:44+00:00,üá∫üá∏ÊöóÂè∑ÂåñÂèñÂºïÊâÄÂ§ßÊâãKraken„ÄÅEthereum 2.0„Éñ„É≠„ÉÉ„ÇØ„ÉÅ„Çß„Éº„É≥„ÅÆ„Ç¢„ÉÉ„Éó„Ç∞„É¨„Éº„Éâ„ÅÆ...
200004,2021-08-24 19:04:40+00:00,Origin Axie #532 was sold for 5.9 ETH ($19582....

In [ ]:
tweets = []
dates= []

for tweet in data['Text']:
    tweets.append(tweet)
    
for date in data['Datetime']:
    dates.append(date)
    
len(tweets)

200005

#### Remove Special Characters

In [ ]:
for i in range(len(tweets)):
    
    clean_tweet = tweets[i]
    
    clean_tweet = re.sub("@[A-Za-z0-9_]+","", clean_tweet)
    clean_tweet = re.sub("#[A-Za-z0-9_]+","", clean_tweet)
    clean_tweet = clean_tweet.replace('\n', '')
    clean_tweet = re.sub(r"http\S+", "", clean_tweet)
    clean_tweet = clean_tweet.lower()
    tweets[i] = clean_tweet

In [ ]:
array = ['0','1','2','3','4','5','6','7','8','9',' ','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','$',',','.']
for i in range(len(tweets)):
    
    tweet = ""
    for j in tweets[i]:
        if j not in array:
            j = " "
            tweet += j
        else:
            tweet += j
    tweets[i] = tweet

#### Remove Irrelevant Tweets

In [ ]:
for i in range(len(tweets)):
    if 'etherium' not in tweets[i]:
        if 'eth' not in tweets[i]:
            tweets[i] = ''

In [ ]:
cleaned_tweets = []
cleaned_dates = []

for i in range(len(tweets)):
    if tweets[i] != '':
        cleaned_tweets.append(tweets[i])
        cleaned_dates.append(dates[i])

In [ ]:
len(cleaned_tweets)

101622

In [ ]:
len(cleaned_dates)

101622

#### Remove Extra Shorter Tweets

In [ ]:
counter = 0
for i in range(len(cleaned_tweets)):
    if len(cleaned_tweets[i]) < 30:
        counter += 1
print(counter)

2723

#### Remove Non-English Tweets

In [ ]:
words = []
for i in range(len(cleaned_tweets)):
    words.append(cleaned_tweets[i].split(' '))
    
dictionary = enchant.Dict("en_US")
english_words = []

In [ ]:
len(words)

101622

#### Remove Redundant Tweets

In [ ]:
new_words = []
new_list = []

for i in words:
    for j in i:
        if j != '':
            new_list.append(j)
    new_words.append(new_list)
    new_list = []

In [ ]:
words = new_words

In [ ]:
for i in range(len(words)):
    
    string = ' '.join(words[i])
    words[i] = string

#### Clean Dataset

In [ ]:
dataframe = pd.DataFrame()
dataframe['Time'] = cleaned_dates
dataframe['Text'] = words
dataframe.head(10)

,Time,Text
0,2022-07-09 23:59:54+00:00,ethereum eth fondo finalmente en analista macr...
1,2022-07-09 23:59:04+00:00,fact is it doesn t matter even if eth is a com...
2,2022-07-09 23:55:28+00:00,ethereum peluang arbitrase yang anda miliki be...
3,2022-07-09 23:55:23+00:00,jeeted both my saudi nfts for a total of 2.6 e...
4,2022-07-09 23:55:18+00:00,ethereum price predictionprice rise in 60 min....
5,2022-07-09 23:53:57+00:00,perhaps it is the composability fan in me that...
6,2022-07-09 23:53:17+00:00,"ethereum prediction resultsell 2.46 eth for 1,..."
7,2022-07-09 23:52:31+00:00,new trending coin on coingecko 24 change 1.6 ....
8,2022-07-09 23:52:17+00:00,"punk 6332 bought for 144.95 eth $176,637.52 us..."
9,2022-07-09 23:52:09+00:00,there is now 13 million $eth deposited in the ...

In [ ]:
dataframe.to_csv("clean_dataset.csv")